* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {

    margin: 25px 0 40px 40px;

}

section {
    display: inline-block;
    margin-left: 85px;
    width: 493px;
}

h1 {
    width: 582px;
    height: 164px;
    font-weight: 700;
    line-height: 82px;
    font-size: 48px;
    margin-bottom: 45px;
    margin-top: 10px;
    color: #161A49;
}

p {
    margin-top: 47px;
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.5px;
    color: #4B505A;
}

.link-reader {
    
    font-weight: 400;
    width: 79px;
    height: 21px;
    margin-right: 32px;
    text-align: center;
    letter-spacing: 0.875px;
    font-size: 14px;
    line-height: 21px;
    cursor: pointer;
    color: #17233D;
}


.botao-sign {
    background: #6FBF44;
    border: 1px solid #6FBF44;
    border-radius: 6px;
    width: 124px;
    height: 51px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #FFFFFF;
}

.botao-learn {
    
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #6FBF44;
    border: none;
    cursor: pointer;
    letter-spacing: 1px;
    background: transparent;
}


.img-logo {
    width: 528px;
    height: 466px;
    margin: 20px 0 0px 125px;
    font-size: 16px;
}

@media screen and (max-width: 660px) {
    
    
.link-reader {
    display: none;
}

.botao-sign {
    position: absolute;
    height: 47px;
    width: 122px;
    left: 100%;
    top: 3%;
    
}

.img-logo {
    position: absolute;
    margin-top: 119%;
    left: -37px;
    width: 393px;
    height: 356px;
}

h1 {
    font-size: 36px;
    line-height: 30px;
    position: absolute;
    text-align: center;
    left: -140px;
    top: -27px;
}

p {
    font-size: 18px;
    line-height: 34px;
    width: 302px;
    text-align: center;
    margin-top: 77px;
}

.botao-learn {
    font-size: 18px;
    line-height: 27px;
    position: absolute;
    left: 95px;
    bottom: 0px;
}

section {
    position: absolute;
    left: 44px;
    width: auto;
    top: 155px;


}

}